@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-100.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-100.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-300.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-300italic.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-300italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-900.woff") format("woff");
}

.App {
  overflow: hidden;
}

.wrapper {
  width: 1417px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
}

.title--large {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-transform: none;
  color: #ffffff;
}

.title--middle {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}

.title--small {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.button {
  border: 1px solid #ffffff;
  border-radius: 5px;

  background-color: transparent;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
}

.react-datepicker__tab-loop {
  position: absolute;
  top: 0;
  left: 0;
}

.react-datepicker-popper {
  z-index: 999 !important;
}
