@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-100.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-100.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-300.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-300italic.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-300italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("./fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-900.woff") format("woff");
}

.App {
  overflow: hidden;
}

.wrapper {
  width: 1417px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
}

.title--large {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-transform: none;
  color: #ffffff;
}

.title--middle {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}

.title--small {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.button {
  border: 1px solid #ffffff;
  border-radius: 5px;

  background-color: transparent;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
}

.react-datepicker__tab-loop {
  position: absolute;
  top: 0;
  left: 0;
}

.react-datepicker-popper {
  z-index: 999 !important;
}

.currency-item {
  background-image: url("./img/elements/currency.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.sidebar__inner {
  padding: 26px 34px 34px 34px;
}

.sidebar__inner--hide {
  display: none;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-left: 44px;
  margin-bottom: 22px;

  background-repeat: no-repeat;
}

.sidebar__header--route--to {
  background-image: url("./img/arrows/sidebar-route-to.svg");
}

.sidebar__header--route--back {
  background-image: url("./img/arrows/sidebar-route-back.svg");
}

.sidebar__header--passengers {
  background-image: url("./img/elements/passenger.svg");
}

.sidebar__date {
  font-size: 18px;
  line-height: 21px;
}

.sidebar__button {
  width: 20px;
  height: 20px;
  border: 0;

  background-image: url("./img/elements/sidebar-hide-button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px;
}

.sidebar__title {
  text-transform: none;
}

.route {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.route__info--right {
  text-align: right;
}

.route__time {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.route__date {
  font-size: 18px;
  line-height: 21px;
}

.route__city {
  margin-bottom: 3px;

  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
}

.route__station {
  font-size: 16px;
  line-height: 18px;
  color: #928f94;
  white-space: pre-line;
}

.route__duration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.route__duration-time {
  font-size: 18px;
  line-height: 21px;
  color: #c4c4c4;
}
